.iTier {
    width: 280px;
    text-align: center;
}

.iTier .header {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.iTier img {
    width: 150px;
    border-radius: 50%;
    position: relative;
    bottom: -25px;
    border-style: solid ;
    display: inline-block;
    border-width: 1px;
}

.iTier .footer {
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.08);
    padding-top: 0.1px;
}

.iTier .footer h4 {
    font-size: 18px;
    font-weight: bold;
}

.iTier .footer h5 {
    font-size: 10px;
    line-height: 22px;
    color: #2c2a2a;
    padding: 5px;
}