.Text-box{
    margin: 24px 0;
}

.Text-box label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.Text-box input{
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.006);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}