.headers {
    background-color: #adc71b;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;

    position:fixed;
    z-index:999; 
    left:5px; 
    top:5px;
    overflow:hidden;
    border:3px double #ffffff;
}